<div class="Card-Aligner">
  <mat-card class="card-items">
    <h1>Login to Your Account</h1>
    <form (submit)="loginWithEmail($event, email.value, password.value)">
      <mat-input-container class="input-full">
        <input matInput #email type="email" placeholder="Email address" required>
      </mat-input-container>
      <mat-input-container class="input-full">
        <input matInput #password type="password" placeholder="Password" required>
      </mat-input-container>
      <button mat-raised-button color="accent">Sign In</button>
    </form>
    <br>
    <button mat-raised-button color="primary" (click)="loginWithGoogle()">Sign With Google</button>
    <mat-card-actions>
      No Account? - <a routerLink="/register">Register Here Now</a>
    </mat-card-actions>
  </mat-card>
</div>
<mat-chip-list role="alert" *ngIf="error">
  <mat-chip color="warn" selected="true" class="error">{{error}}</mat-chip>
</mat-chip-list>
