<div class="Card-Aligner">
  <md-card class="card-items">
    <h1>Register</h1>
    <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
      <md-input-container class="input-full">
        <input mdInput type="email" id="email" placeholder="Email address" formControlName="email" email>
      </md-input-container>
      <md-input-container class="input-full">
        <input mdInput type="password" id="inputPassword" placeholder="Password" formControlName="password">
      </md-input-container>
      <button md-raised-button color="primary" [disabled]="!registerForm.valid">Register</button>
    </form>
    <md-card-actions>
      <a routerLink="/login">I Already Have an Account</a>
    </md-card-actions>
  </md-card>
</div>
<br>
<md-chip-list role="alert" *ngIf="authService.error">
  <md-chip color="warn" selected="true" class="error">{{authService.error}}</md-chip>
</md-chip-list>
