<div class="Card-Aligner">
  <mat-card class="card-items">
    <h1>Register</h1>
    <form (submit)="registerUser($event, name.value, email.value, password.value)">
      <mat-input-container class="input-full">
        <input matInput #name id="name" placeholder="Name" required>
      </mat-input-container>
      <mat-input-container class="input-full">
        <input matInput #email type="email" id="email" placeholder="Email address" required>
      </mat-input-container>
      <mat-input-container class="input-full">
        <input matInput #password type="password" id="inputPassword" placeholder="Password" required>
      </mat-input-container>
      <button mat-raised-button color="primary">Register</button>
    </form>
    <mat-card-actions>
      <a routerLink="/login">I Already Have an Account</a>
    </mat-card-actions>
  </mat-card>
</div>
<br>
<mat-chip-list role="alert" *ngIf="error">
  <mat-chip color="warn" selected="true" class="error">{{error}}</mat-chip>
</mat-chip-list>
