.poster {
  width: 100%;
  padding: 0;
  overflow: hidden;
  min-height: 325px;
  max-height: 350px;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
    user-select: none;
    transition: 0.4s;
    min-height: 155px;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__content {
    padding: 10px 0;

    p {
      font-size: 14px;
      color: #fff;
    }
  }

  &__title {
    display: inherit;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

// xs
@media screen and (max-width: 599px) {
}

// sm
@media screen and (min-width: 600px) and (max-width: 959px) {
  .poster > img {
    height: auto;
  }
}

  // md
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

// lg
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

// xl
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
