<div *ngIf="!isLoading" class="tv-show-main-container" [ngClass]="{'padding-top-60': !mobileQuery.matches}" [style.background-image]="('linear-gradient(rgba(52,41,49,0.8), rgba(68,34,102,0.8))' + ', url('+'https://image.tmdb.org/t/p/w1000_and_h450_multi_faces'+tvShow?.backdrop_path+')')">

  <div class="tv-show-main-data-container" fxLayout='row'>

    <div class="tv-show-main-img">

      <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{tvShow?.poster_path}}" data-src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{tvShow?.poster_path}}"
           data-srcset="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{tvShow?.poster_path}} 1x, https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{tvShow?.poster_path}} 2x"
           srcset="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{tvShow?.poster_path}} 1x, https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{tvShow?.poster_path}} 2x"
           data-loaded="true" [alt]="tvShow?.name" appImgMissingDirective>

    </div>

    <div class="tv-show-main-info">

      <div class="title-subtitle-container" fxFlex="100">
        <h2 class="tv-show-main-title">{{tvShow.name}}</h2>
        <h3>{{tvShow.tagline}}</h3>
      </div>

      <section fxShow fxHide.sm="true" fxHide.xs="true">
        <div *ngIf="tvShow.overview">
          <h3>Overview</h3>
          <p>{{tvShow.overview}}</p>
        </div>
        <div>
          <h3>Categories</h3>
          <button *ngFor="let genre of tvShow.genres" mat-raised-button color="primary" disabled style="margin-right: 5px">{{genre.name}}</button>
        </div>
      </section>

    </div>
  </div>

</div>
