.tv-show-main-container {
  background-size: cover;
  background-position: center top;
}

.tv-show-main-data-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 40px;
  z-index: 0;
}

.tv-show-main-img img {
  width: 250px; height: 350px; box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); border-radius: 4px;
}

.tv-show-main-title { font-size: 2.2em; font-weight: 700; }

.tv-show-main-data-actions {  margin-bottom: 20px  }

.tv-show-main-data-actions button {
  background: rgba(0, 0, 0, 0.5); border: 2px solid white; margin-right: 10px
}

.tv-show-main-data-actions button mat-icon {
  color: white; font-size: medium;
}

/* Large desktops and laptops */
@media (min-width: 1201px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1200px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 992px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
}
