/* Parallax and Content*/
.parallax-left-content{
  width: 80%;
  margin: 0 auto;
  padding-top: 80px;
  z-index: 0;
}

.parallax-img-container img {
  width: 250px;
  height: 350px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.movie-main-title { font-size: 3.5em; font-weight: 700; }

.parallax-btn-container {  margin-bottom: 20px  }

.parallax-btn-container button {
  background: rgba(0, 0, 0, 0.5); border: 2px solid white; margin-right: 10px
}

.parallax-btn-container button mat-icon {
  color: white; font-size: medium;
}

.parallax-subtitle {
  width: 100%; margin: 0 0 10px 0; font-weight: 600; line-height: 1.3em; font-size: 1.3em;
}

.mat-mini-fab .mat-icon, .mat-mini-fab i {
  line-height: 20px;
}

.parrallax-content {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center top;
}

.mat-card-actions{
  padding: 0 !important;
}

.mat-card-content {
  margin-bottom: 0;
}

.card-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.card-content strong{  font-size: 1.2em;  }
.card-content span{  font-size: 1em;  }

.movie-content-card {
  display: inline-block;
  vertical-align: top;
  margin: 15px 5px;
  text-align: left;
  width: 90%;
}

.video-movie-main{
  margin: auto;
}

.video-movie-main iframe{
  width: 55vw;
  height: 64vh;
}

.top-billed-cast img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 8px 0 0;
  object-fit: cover;
}

// xs
@media screen and (max-width: 599px) {

}

// sm
@media screen and (min-width: 600px) and (max-width: 959px) {
}

// md
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

// lg
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

// xl
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
