.movie-card {
  cursor: pointer;
  width: 100%;
  padding: 0;

  img {
    width: 100%;
    height: 310px;
    object-fit: cover;
  }
}

mat-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-card-image {
  width: calc(100% + 0px);
  margin: 0 -30px 16px -30px;
}

mat-card-content {
  padding: 10px;
  text-align: left;
}
