<main class="contents container">

  <h2>All {{contentType | titlecase}} #NowPlaying</h2>

  <div class="contents__container">

    <mat-card class="contents__filter">
      <div>Filter by</div>
      <button mat-raised-button color="primary" aria-label="Set Now Playing filter" disabled>Now Playing</button>
      <button mat-raised-button color="primary" aria-label="Set Upcoming filter" disabled>Upcoming</button>
      <button mat-raised-button color="primary" aria-label="Set Popular filter" disabled>Popular</button>
    </mat-card>

    <div class="contents__right-side">

      <div class="contents__list">
        @for (content of nowPlaying; track content) {
          <app-poster-card [model]="content" [isMovie]="contentType === 'movies'"></app-poster-card>
        }
      </div>

      <mat-paginator [length]="totalResults"
                     [pageSize]="20"
                     (page)="changePage($event)">
      </mat-paginator>
    </div>

  </div>

</main>
