<mat-toolbar class="__navbar-container" [class.colored-nav]="isScrolled">

  <!--Contenido del usuario-->
  <mat-toolbar-row>
    <div fxFlex="15%" fxFlex.md="5%" fxHide.sm fxHide.xs></div>

    <div fxFlex="70%" fxFlex.md="90%" fxFlex.sm="100%" fxHide.xs>
      <div class="space-between">
        <div>Movies + TV Shows by JancoBH</div>
        <div>
          <a mat-button routerLink="" [routerLinkActive]="['activated-route']" [routerLinkActiveOptions]="{exact: true}" aria-label="Home">Home</a>
          <a mat-button routerLink="movies" [routerLinkActive]="['activated-route']" aria-label="Movies">Movies</a>
          <a mat-button routerLink="tv-shows" [routerLinkActive]="['activated-route']" aria-label="TV Shows">TV Shows</a>
        </div>
      </div>

    </div>

    <div fxFlex="15%" fxFlex.md="5%" fxHide.sm fxHide.xs></div>
  </mat-toolbar-row>

</mat-toolbar>
