.__navbar-container {
  background-color: rgba(0,0,0,0);
  position: fixed;
  transition: background-color .5s ease 0s;
  z-index: 2;
}

.__navbar-container.colored-nav {
  background-color: #212121;
  transition: background-color .5s ease 0s;
}

.activated-route {
  border-bottom: 2px solid;
  border-radius: 0;
}
