.movie-main-container {
  background-size: cover;
  background-position: center top;
}

.movie-main-data-container {
  padding: 30px 0;

  .movie-main-img img {
    width: 250px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); border-radius: 4px;
  }

  .movie-main-info {
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    .title-subtitle-container {

      h3 {font-weight: 500; color: #fff; font-size: 1.1em; font-style: italic; opacity: 0.8; margin: 0;}

    }

    .play-trailer {

      ::ng-deep .mat-button-wrapper {
        display: flex;
        align-items: center;

        mat-icon {padding-right: 2px}
      }
    }
  }
}

.video-movie-main{
  margin: auto;
}

.video-movie-main iframe{
  width: 55vw;
  height: 64vh;
}

.similar-movies {
  h2 {
    margin: 30px 0 20px 0;
  }
}

// xs
@media screen and (max-width: 599px) {

  .movie-main-container {
    height: 240px;
  }

  .movie-main-img {

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: calc(((100vw / 2) - 40px) / 1.5);
      min-width: calc(((100vw / 2.2) - 40px) / 1.5);
      height: calc((100vw / 2) - 40px);
      min-height: calc((100vw / 2) - 40px);
    }
  }

  .movie-main-data-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0;

    .movie-top-section {
      padding: 10px;
    }

    .movie-main-info {
      padding-left: 20px;

      .play-trailer {margin-top: 4px;}

    }

  }

  .movie-main-title { font-size: 1.5rem; margin: 0 }

  .similar-movies {
    h2 {
      text-align: center;
    }
  }

  .video-movie-main iframe{
    width: 80vw;
    height: 45vh;
  }

}

// sm
@media screen and (min-width: 600px) and (max-width: 959px) {

  .movie-main-info {

    .play-trailer {margin-top: 4px;}

  }

  .video-movie-main iframe{
    width: 80vw;
    height: 40vh;
  }

}

// md
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .video-movie-main iframe{
    width: 80vw;
    height: 40vh;
  }
}

// lg
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .movie-main-title { font-size: 2.2rem; font-weight: 700; margin: 0 0 20px;}
}

// xl
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
