<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<div class="movie-main-container" [ngClass]="{'padding-top-60': !mobileQuery.matches}" [style.background-image]="('linear-gradient(rgba(52,41,49,0.80), rgba(0,0,0,0.85)), url('+'https://image.tmdb.org/t/p/w1280'+movie.backdrop_path+')')">

  <div class="movie-main-data-container container">

    <section class="movie-top-section" fxLayout='row'>

      <div class="movie-main-img">
        <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie?.poster_path}}" data-src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie?.poster_path}}"
             data-srcset="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie?.poster_path}} 1x, https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{movie?.poster_path}} 2x"
             srcset="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie?.poster_path}} 1x, https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{movie?.poster_path}} 2x"
             data-loaded="true" [alt]="movie?.title" appImgMissingDirective>
      </div>

      <div class="movie-main-info">

        <div class="title-subtitle-container" fxFlex="100">
          <h2 class="movie-main-title">{{movie?.title}}</h2>
          <h3 fxHide.xs="true">{{movie.tagline}}</h3>
        </div>

        <section>
          <div fxShow fxHide.sm="true" fxHide.xs="true">
            <h3>Overview</h3>
            <p style="padding-right: 8px">{{movie.overview}}</p>
          </div>
          <button *ngIf="video" mat-raised-button color="primary" aria-label="Trailer" (click)="openDialog()" class="play-trailer">
            <mat-icon>play_arrow</mat-icon> Play Trailer
          </button>
          <div fxShow fxHide.sm="true" fxHide.xs="true">
            <h3>Categories</h3>
            <button *ngFor="let genre of movie.genres" mat-raised-button color="primary" aria-label="Genres" disabled style="margin-right: 5px">{{genre.name}}</button>
          </div>
        </section>

      </div>

    </section>

  </div>

</div>

<div class="container">

  <div class="similar-movies default-margin-bottom">
    <h2>Recommended Movies</h2>
    <div fxLayout='row wrap' *ngIf="recomendedMovieList.length > 0; else noRecomendedMovies">
      <div fxFlex="16.6%" fxFlex.sm="25" fxFlex.md="25%" fxFlex.xs="50%" style="padding: 5px 5px;" *ngFor="let movie of recomendedMovieList;">
        <app-poster-card [model]="movie" [isMovie]="true"></app-poster-card>
      </div>
    </div>

    <ng-template #noRecomendedMovies>
      <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding: 5rem 0">
        <mat-icon style="font-size: 5rem" [inline]="true">sentiment_dissatisfied</mat-icon>
        <span>No recommended movies</span>
      </div>
    </ng-template>
  </div> <!--End Similar Movies-->

</div>

<!--Dialogo video trailer-->
<ng-template #matTrailerDialog>
  <div cdkDragBoundary=".cdk-overlay-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane" style="background: black;">
    <div class="dialog-title-container" cdkDragHandle>
      <a href="javascript:void(0);" (click)="trailerDialog.closeAll()"><mat-icon aria-label="cerrar dialogo cambiar imagen Cabecera">close</mat-icon></a>
      <h2 matDialogTitle>Play Trailer</h2>
    </div>

    <mat-dialog-content class="header-content-dialog">

      <div *ngIf="video" class="video-movie-main">
        <iframe [src]="video['url']" allowfullscreen style="background-color: #000; border: 0;"></iframe>
      </div>

    </mat-dialog-content>

  </div>
</ng-template>
