<div class="__home-main-content">
  Welcome
</div>

<div class="container">

  <section>
    <div class="moviesHome-header">
      <div class="moviesHome-title">Movies</div>
      <a [routerLink]="'/movies'">See all</a>
    </div>

    <mat-tab-group (selectedTabChange)="tabChange($event)" [selectedIndex]="selectedMovieTab">

      <mat-tab *ngFor="let tab of movieTabList" [label]="tab">
        <swiper
          [config]="config"
          (swiper)="onSwiper($event)"
          style="display: flex; flex-direction: column-reverse;"
        >
          <ng-template swiperSlide *ngFor="let movie of moviesList | slice:0:15">
            <app-poster-card [model]="movie" [isMovie]="true"></app-poster-card>
          </ng-template>
        </swiper>
      </mat-tab>

    </mat-tab-group>
  </section>

  <!--TV-->

  <section>
    <div class="moviesHome-header">
      <div class="moviesHome-title">TV Shows</div>
      <a [routerLink]="'/tv-shows'">See all</a>
    </div>

    <mat-tab-group (selectedTabChange)="tabTVChange($event)" [selectedIndex]="selectedTVTab" style="margin-bottom: 15px;">

      <mat-tab *ngFor="let tab of tvShowsTabList" [label]="tab">
        <swiper
          [config]="config"
          (swiper)="onSwiper($event)"
          (slideChange)="onSlideChange()"
          style="display: flex; flex-direction: column-reverse;"
        >
          <ng-template swiperSlide *ngFor="let tvShow of tvShowsList | slice:0:15">
            <app-poster-card [model]="tvShow"></app-poster-card>
          </ng-template>
        </swiper>
      </mat-tab>

    </mat-tab-group>
  </section>

</div>
