.__home-main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background: linear-gradient(rgba(52,41,49,0.8), rgba(26, 33, 74, 0.8)), url('../../../assets/img/background-main.jpg') no-repeat bottom;
  background-size: cover;
}

::ng-deep .swiper-slide {
  margin-top: 30px;
}

::ng-deep .swiper-pagination-bullets {
  bottom: 0;
}

::ng-deep .swiper-pagination {
  bottom: 0; position: initial;
}

.moviesHome-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 45px;
  margin-bottom: 0;
}

.moviesHome-title {
  font-size: 24px;
  font-weight: bold;
}
