.__home-main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background: linear-gradient(rgba(52,41,49,0.8), rgba(26, 33, 74, 0.8)), url('../../../assets/img/background-main.jpg') no-repeat bottom;
  background-size: cover;
}

::ng-deep .swiper-slide {
  margin-top: 30px;
}

::ng-deep .swiper-pagination-bullets {
  bottom: 0;
}

::ng-deep .swiper-pagination {
  bottom: 0; position: initial; margin-top: 15px;
}

.moviesHome-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;

  a:hover {
    text-decoration: underline;
  }
}

.moviesHome-title {
  font-size: 24px;
  font-weight: bold;
}


// xs
@media screen and (max-width: 599px) {
  .__home-main-content {
    min-height: 50vh;
  }
  ::ng-deep .swiper-slide-next + .swiper-slide {opacity: .35;}
}

// sm
@media screen and (min-width: 600px) and (max-width: 959px) {
  .__home-main-content {
    min-height: 50vh;
  }
  ::ng-deep .swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide {opacity: .35;}
}

// md
@media screen and (min-width: 960px) and (max-width: 1279px) {
  ::ng-deep .swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide {opacity: .35;}
}

// lg
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  ::ng-deep .swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide {opacity: .35;}
}

// xl
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
