<div class="padding-top-60">
  <mat-card class="actor-card">
    <img src="https://image.tmdb.org/t/p/w300/{{person.profile_path}}" *ngIf="person.profile_path">
    <mat-card-content>
      <h2>Personal Info</h2>
      <h4> {{person.name}} </h4>
      <p>
        <strong>Gender: </strong>
        <span *ngIf="person.gender == 2">Male</span>
        <span *ngIf="person.gender == 1">Female</span>
      </p>
      <p><strong>Birthday: </strong>
        {{person.birthday}}</p>
      <p><strong>Place of Birth: </strong>{{person.place_of_birth}}</p>
      <p>
        <strong>Popularity</strong>
        <small class="red">
          {{person.popularity}}<mat-icon>star</mat-icon>
        </small>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="actor-card-similar">
    <mat-card-content>
      <h2>Soon more Info</h2>
    </mat-card-content>
  </mat-card>
</div>
