<md-sidenav-container fullscreen align="center">
  <md-sidenav #start>
    <md-toolbar color="primary">
      <span>Welcome</span>
      <span style="flex: 1 1 auto;"></span>
      <button md-icon-button (click)="start.close()"><md-icon>arrow_forward</md-icon></button>
    </md-toolbar>
    <md-nav-list>
      <a md-list-item routerLink="/" routerLinkActive="active" (click)="start.close()">Home</a>
      <a md-list-item *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active" (click)="start.close()">Login</a>
      <a md-list-item *ngIf="isLoggedIn" routerLink="/" routerLinkActive="active" (click)="start.close(); logout()">Logout</a>
      <a md-list-item routerLink="/genres" routerLinkActive="active" (click)="start.close()">Genres</a>
    </md-nav-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="start.open()">
      <md-icon>menu</md-icon>
    </button>
    <span class="center-flex"></span>
    <span>
      <a routerLink="/">Angular - Movies <span class="janco-ocult">by JancoBH<span *ngIf="isLoggedIn"> - Welcome {{afService.displayName}}</span></span></a>
    </span>
    <span class="center-flex"></span>
  </md-toolbar>

  <router-outlet></router-outlet>
</md-sidenav-container>
