.transparent-bar {
  position: absolute;
  z-index: 999;
  background: transparent;
}

.img-header {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  background-size: cover;
  margin-left: 10px;
}

mat-sidenav {
  width: 250px;
}

.mat-nav-list{
  padding-top: 0!important;
}

mat-nav-list a{
  border-bottom: 1px solid;
}

.center-flex{
  flex: 1 1 auto;
}

.home-name-padding {
  padding-left: 70px;
}

.hidden {
  display: none;
}

@media (max-width: 767px) {
  .janco-ocult{  display: none;  }
  .home-name-padding {padding-left: 0;}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .janco-ocult{  display: none;  }
  .home-name-padding {padding-left: 0;}
}
