<mat-sidenav-container fullscreen align="center"
                       [class.blue-theme]="isBlueColor"
                       [class.green-theme]="isGreenColor"
>
  <mat-sidenav #start>
    <mat-toolbar color="primary">
      <span style="color: white">Welcome</span>
      <span style="flex: 1 1 auto;"></span>
      <button mat-icon-button (click)="start.close()" aria-label="Close"><mat-icon>arrow_forward</mat-icon></button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active" (click)="start.close()">Home</a>
      <a mat-list-item *ngIf="isLoggedIn" routerLink="/profile" routerLinkActive="active" (click)="start.close()">Profile</a>
      <a mat-list-item *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active" (click)="start.close()">Login</a>
      <a mat-list-item *ngIf="isLoggedIn" routerLink="/" routerLinkActive="active" (click)="start.close(); auth.signOut()">Logout</a>
      <a mat-list-item routerLink="/genres" routerLinkActive="active" (click)="start.close()">Genres</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar class="transparent-bar">
    <button mat-icon-button (click)="start.open()" aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="center-flex"></span>
    <span>
      <a routerLink="/" [class.home-name-padding]="isLoggedIn">Movies + TV Shows <span class="janco-ocult">by JancoBH</span></a>
    </span>

    <span class="center-flex"></span>

    <span *ngIf="auth.user | async as user" class="janco-ocult">{{ user.displayName }}</span>
    <span *ngIf="auth.user | async as user" class="img-header" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Options" [ngStyle]="{'background-image': 'url('+user?.photoURL+')'}"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Change Color" style="padding-right: 10px" *ngIf="!isLoggedIn" aria-label="Change Color">
      <mat-icon>format_color_fill</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changeToRed()" [class.hidden]="isRedColor" aria-label="Color Red">
        <mat-icon style="color: #F44336">lens</mat-icon>
        <span>Red</span>
      </button>
      <button mat-menu-item (click)="changeToBlue()" [class.hidden]="isBlueColor" aria-label="Color Blue">
        <mat-icon style="color: #2196f3">lens</mat-icon>
        <span>Blue</span>
      </button>
      <button mat-menu-item (click)="changeToGreen()" [class.hidden]="isGreenColor" aria-label="Color Green">
        <mat-icon style="color: #4caf50">lens</mat-icon>
        <span>Green</span>
      </button>
      <button mat-menu-item (click)="auth.signOut()" *ngIf="isLoggedIn" aria-label="Sign Out">
        <mat-icon>power_settings_new</mat-icon>
        <span>Sign Out</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <router-outlet></router-outlet>

  <!--<footer class="docs-footer">-->
    <!--<div class="docs-footer-list">-->
      <!--<div class="docs-footer-copyright">-->
        <!--<p>Created by JancoBH.</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</footer>-->

</mat-sidenav-container>
