md-sidenav {
  width: 250px;
}

.mat-nav-list{
  padding-top: 0!important;
}

md-nav-list a{
  border-bottom: 1px solid;
}

.center-flex{
  flex: 1 1 auto;
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .janco-ocult{  display: none;  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .janco-ocult{  display: none;  }
}
