<div class="Card-Aligner">
  <md-card class="card-items">
    <h1>Login to Your Account</h1>
    <md-input-container class="input-full">
      <input mdInput type="email" placeholder="Email address">
    </md-input-container>
    <md-input-container class="input-full">
      <input mdInput type="password" placeholder="Password">
    </md-input-container>
    <button md-raised-button color="primary" (click)="login()">Sign With Google</button>
    <br>
    <button md-raised-button (click)="login()">Sign With Facebook</button>
  </md-card>
</div>
