.docs-footer {
  background: #212121;
  color: white;
  margin-top: auto;
  padding: 12px;
  font-size: 12px;
}

.docs-footer-list {
  padding: 8px;
  display: flex;
  justify-content: center;
}

.social-img {
  width: 2rem; border-radius: 5px; margin-left: 10px;
}
