<section class="home-main-content">
  Welcome
</section>

<div class="container">

  <!--Movies on theathers-->
  <section class="movies__container">

    <h2 class="movies__title" title="Go to Movies">
      <a [routerLink]="'/movies'" class="colored-background-before">
        <mat-icon>movie</mat-icon>
        Movies
      </a>
    </h2>

    @defer {
      <mat-tab-group (selectedTabChange)="tabMovieChange($event)" [selectedIndex]="selectedMovieTab" mat-align-tabs="end">

        @for (tab of movieTabList; track tab) {
          <mat-tab [label]="tab">
            <swiper-container appSwiper [config]="config" pagination="true" scrollbar="false">
              @for (movie of moviesList | slice:0:15; track movie) {
                <swiper-slide>
                  <app-poster-card [model]="movie" [isMovie]="true"></app-poster-card>
                </swiper-slide>
              }
            </swiper-container>
          </mat-tab>
        } @empty {
          Empty list
        }

      </mat-tab-group>
    }

  </section>

  <!--TV-->
  <section class="shows__container">

    <h2 class="shows__title" title="Go to TV Shows">
      <a [routerLink]="'/tv-shows'" class="colored-background-before">
        <mat-icon>tv_gen</mat-icon>
        TV Shows
      </a>
    </h2>

    @defer {
      <mat-tab-group (selectedTabChange)="tabTVChange($event)" [selectedIndex]="selectedTVTab" mat-align-tabs="end">

        @for (tab of tvShowsTabList; track tab) {
          <mat-tab [label]="tab">
            <swiper-container appSwiper [config]="config" pagination="true" scrollbar="false">
              @for (tvShow of tvShowsList | slice:0:15; track tvShow) {
                <swiper-slide>
                  <app-poster-card [model]="tvShow"></app-poster-card>
                </swiper-slide>
              }
            </swiper-container>
          </mat-tab>
        } @empty {
          Empty list
        }

      </mat-tab-group>
    }

  </section>

</div>
