<div *ngIf="movie">

  <div class="parrallax-content" [ngStyle]="{'background-image': 'linear-gradient(rgba(52,41,49,0.8), rgba(68,34,102,0.8)), url('+'https://image.tmdb.org/t/p/w1280'+movie.backdrop_path+')'}">

    <div class="parallax-left-content">
        <section class="parallax-position">
          <div class="parallax-img-container">
            <img src="https://image.tmdb.org/t/p/w500/{{movie?.poster_path}}" alt="" width="300px">
          </div>
          <div class="parallax-right-content"> <!--Title-->
            <h2>{{movie.title}}</h2>
            <div class="parallax-btn-container">
              <button mat-mini-fab matTooltip="Soon" aria-label="Add Favorite Movie"><mat-icon>favorite</mat-icon></button>
              <button mat-mini-fab matTooltip="Soon" aria-label="Add Star Movie"><mat-icon>star</mat-icon></button>
              <button mat-mini-fab matTooltip="Soon" aria-label="Add Bookmark Movie"><mat-icon>bookmark</mat-icon></button>
              <a href="javascript:void(0)" (click)="openDialog()" *ngIf="video"><mat-icon>play_arrow</mat-icon> Play Trailer</a>
            </div>
            <h3 class="parallax-subtitle">Overview</h3>
            <p>{{movie.overview}}</p>
            <h3 class="parallax-subtitle">Categories</h3>
            <a *ngFor="let genre of movie.genres" routerLink="/genres/{{genre.id}}/{{genre.name}}">
              <button mat-raised-button color="primary" aria-label="Genres">{{genre.name}}</button>
            </a>
          </div>
        </section>
    </div>

  </div>

  <div class="container">

    <div *ngIf="cast">
      <h1 class="center">Top Billed Cast</h1>
      <mat-card-content class="card-content">
        <mat-card class="cast-actor-card" *ngFor="let actor of cast">
          <a routerLink="/actor/{{actor?.id}}">
            <img mat-card-image src="https://image.tmdb.org/t/p/w500/{{actor?.profile_path}}" height="294px">
            <mat-card-content>
              <strong>{{actor.name}}</strong><br>
              <span>{{actor.character}}</span>
            </mat-card-content>
          </a>
        </mat-card>
      </mat-card-content>
    </div>

    <div *ngIf="similarMovies" class="similar-movies">
      <h1>Recommended Movies</h1>
      <div style="text-align:center;">
        <span *ngFor="let movie of similarMovies;">
          <app-poster-card [model]="movie" class="recommended-poster"></app-poster-card>
        </span>
      </div>
    </div> <!--End Similar Movies-->

  </div>


</div>
<div *ngIf="isLoading" style="margin-top: 30%">
  <div class="loading">
    <h4>Loading</h4>
  </div>
</div>
