<div class="padding-top-60">
  <div class="Card-Aligner">
    <mat-card class="card-items">
      <h1>Register</h1>
      <form [formGroup]="userForm" (ngSubmit)="signup()">
        <!--<mat-form-field class="input-full">-->
        <!--<input matInput #name id="name" placeholder="Name" required>-->
        <!--</mat-form-field>-->
        <mat-form-field class="input-full">
          <input matInput type="email" id="email" placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="formErrors.email">{{ formErrors.email }}</mat-error>
        </mat-form-field>
        <mat-form-field class="input-full">
          <input matInput type="password" id="inputPassword" placeholder="Password" formControlName="password" required>
          <mat-error *ngIf="formErrors.password">{{ formErrors.password }}</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button  color="primary" [disabled]="!userForm.valid">Submit</button>
      </form>
      <mat-card-actions>
        <a routerLink="/login">I Already Have an Account</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <br>
  <mat-chip-list role="alert" *ngIf="auth.error">
    <mat-chip color="warn" selected="true" class="error">{{auth.error}}</mat-chip>
  </mat-chip-list>
</div>
