<div *ngIf="movie">

  <div class="parrallax-content" [ngStyle]="{'background-image': 'linear-gradient(rgba(52,41,49,0.4), rgba(68,34,102,0.4)), url('+'https://image.tmdb.org/t/p/w500'+movie.backdrop_path+')'}">
    <div class="parrallax">
    </div>

    <div class="parallax-left-content">
        <section class="parallax-position">
          <div class="parallax-img-container">
            <img src="https://image.tmdb.org/t/p/w500/{{movie?.poster_path}}" alt="" width="300px">
          </div>
          <div class="parallax-right-content"> <!--Title-->
            <h2>{{movie.title}}</h2>
            <div class="parallax-btn-container">
              <button md-mini-fab mdTooltip="Soon"><md-icon>favorite</md-icon></button>
              <button md-mini-fab mdTooltip="Soon"><md-icon>star</md-icon></button>
              <button md-mini-fab mdTooltip="Soon"><md-icon>bookmark</md-icon></button>
            </div>
            <h3 class="parallax-subtitle">Overview</h3>
            <p>{{movie.overview}}</p>
            <h3 class="parallax-subtitle">Categories</h3>
            <a *ngFor="let genre of movie.genres" routerLink="/genres/{{genre.id}}/{{genre.name}}" class="genders-cat">
              <button md-raised-button color="primary">{{genre.name}}</button>
            </a>
          </div>
        </section>
    </div>

  </div>

  <md-card class="movie-content-card"> <!--Second Card-->
    <md-card-content>
      <md-tab-group> <!-- Tabs -->

        <md-tab label="Cast"> <!--Cast Tab-->
          <div *ngIf="cast">
            <h1 class="center">Top Billed Cast</h1>
            <md-card-content class="card-content">
              <md-card class="cast-actor-card" *ngFor="let actor of cast">
                <a routerLink="/actor/{{actor?.id}}">
                  <img md-card-image src="https://image.tmdb.org/t/p/w500/{{actor?.profile_path}}">
                  <md-card-content>
                    <strong>{{actor.name}}</strong><br>
                    <span>{{actor.character}}</span>
                  </md-card-content>
                </a>
              </md-card>
            </md-card-content>
          </div>
        </md-tab> <!--Cast Tab End-->

        <md-tab label="Media"> <!--Trailer Tab-->
          <div *ngIf="video" class="video-movie-main">
            <h1 class="center">{{video.name}}</h1>
            <iframe [src]="video.url" allowfullscreen></iframe>
          </div>
        </md-tab> <!--Trailer Tab End-->

        <md-tab label="Reviews"> <!--Reviews Tab-->
          <div *ngIf="reviews?.results.length >= 1; else noReview">
            <h1 class="center">Review</h1>
            <div *ngFor="let review of reviews.results">
              <blockquote>
                <p class="text-justify">{{review?.content}}</p>
                <footer><cite title="{{review?.author}}"><a href="{{review?.url}}" target="_blank" class="red">{{review?.author}}</a></cite></footer>
              </blockquote>
            </div>
          </div>
          <ng-template #noReview>
            <h1 class="center">There is not Review Available</h1>
          </ng-template>
        </md-tab> <!--Reviews Tab End-->

      </md-tab-group> <!-- Tabs End-->
    </md-card-content>
  </md-card> <!--Second Card End-->

  <div *ngIf="similarMovies"> <!--Similar Movies-->
    <h1>Similar Movies</h1>
    <div style="text-align:center;">
      <span *ngFor="let movie of similarMovies;">
        <movie-card [movie]="movie"></movie-card>
      </span>
    </div>
  </div> <!--End Similar Movies-->

</div>
<div *ngIf="isLoading" style="margin-top: 30%">
  <div class="loading">
    <h4>Loading</h4>
  </div>
</div>
