/* Parallax and Content*/
.parallax-left-content{
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 0;
}

.parallax-left-content .parallax-position {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.parallax-img-container img {
  width: 300px; height: 450px; box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); border-radius: 4px;
}

.parallax-right-content {
  width: 100%; margin-bottom: 30px; text-align: left;  padding-left: 40px;
}

.parallax-right-content h2 {  font-size: 2.2em; font-weight: 700;  }

.parallax-btn-container {  margin-bottom: 20px  }

.parallax-btn-container button {
  background: rgba(0, 0, 0, 0.5); border: 2px solid white; margin-right: 10px
}

.parallax-btn-container button mat-icon {
  color: white; font-size: medium;
}

.parallax-subtitle {
  width: 100%; margin: 0 0 10px 0; font-weight: 600; line-height: 1.3em; font-size: 1.3em;
}

.mat-mini-fab .mat-icon, .mat-mini-fab i {
  line-height: 20px;
}

.parrallax-content{
  position: relative;
  overflow: hidden;
  height: 75vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.parrallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.mat-card-actions{
  padding: 0 !important;
}

.mat-card-content {
  margin-bottom: 0;
}

.card-content{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: stretch;
 }

.card-content strong{  font-size: 1.2em;  }
.card-content span{  font-size: 1em;  }

.movie-content-card{
  display: inline-block;
  vertical-align: top;
  margin: 15px 5px;
  text-align: left;
  width: 90%;
}

.cast-actor-card{
  vertical-align: top;
  margin: 0 5px 0;
  background-color: #F44336;
}

.video-movie-main{
  margin: auto;
}

.video-movie-main iframe{
  width: 100%;
  height: 300px;
}

/* =============
    Responsive
 =============== */

/* Large desktops and laptops */
@media (min-width: 1201px) {
  .cast-actor-card{  width: 13%;  }

  .video-movie-main{  width: 50%;  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1200px) {
  .cast-actor-card{  width: 22%;  }

  .video-movie-main{  width: 60%;  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 992px) {
  .cast-actor-card{  width: 23%;  }

  .video-movie-main{  width: 70%;  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  .cast-actor-card{  width: 38%;  }
  .genders-cat button{  margin-bottom: 5px;  }
  .video-movie-main{  width: 80%;  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .cast-actor-card{  width: 80%;  }
  .genders-cat button{  margin-bottom: 5px;  }
  .video-movie-main{  width: 90%;  }
}


/*Por ahora*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
