<md-tab-group>
  <!--Popular Movies Tab-->
  <md-tab label="Popular Movies">
    <div class="center">
      <h1>Popular Movies</h1>
      <span *ngFor="let movie of popularList">
        <movie-card [movie]="movie"></movie-card>
      </span>
    </div>
  </md-tab>

  <!--Upcoming Movies Tab-->
  <md-tab label="Upcomming Movies">
    <div class="center">
      <h1>Upcomming Movies</h1>
      <span *ngFor="let movie of upcomingList">
        <movie-card [movie]="movie"></movie-card>
      </span>
    </div>
  </md-tab>

  <!--Top Rated Movies Tab-->
  <md-tab label="Top Rated Movies">
    <div class="center">
      <h1>Top Rated Movies</h1>
      <span *ngFor="let movie of topRatedList">
        <movie-card [movie]="movie"></movie-card>
      </span>
    </div>
  </md-tab>

  <!--Search Movies Tab-->
  <md-tab label="Search Movies">
    <div class="center">
      <md-card class="search-card">
        <md-input-container style="width: 70%">
          <input mdInput type="search" placeholder="Search for a Movie" [(ngModel)]="searchStr" (keyup.enter)="searchMovies()">
        </md-input-container>
        <button color="primary" md-raised-button (click)="searchMovies()">Search</button>
      </md-card>
      <div *ngIf="searchRes">
        <h1>{{searchStr | capitalize}} Results</h1>
        <span *ngFor="let movie of searchRes;">
        <movie-card [movie]="movie"></movie-card>
      </span>
      </div>
      <div *ngIf="!searchRes">
        <h1>Search Your Favorite Movie</h1>
      </div>
    </div>
  </md-tab>
</md-tab-group>
