.filter-movies-card {
  height: 100%;
}

.filter-movies-card button {
  width: 100%;
  margin-bottom: 8px;
}

.mat-slider-horizontal {
  width: 100%;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .filter-movies-card{ width: 24%; margin-bottom: 20px; }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .filter-movies-card{ width: 80%; margin-bottom: 20px; }
}
