<mat-tab-group>

  <!--Now Playing Movies-->
  <mat-tab label="Now Playing Movies">
    <div class="center">
      <h1>Now Playing Movies</h1>
      <span *ngFor="let movie of nowPlaying?.results">
        <movie-card [movie]="movie"></movie-card>
      </span>
      <div *ngIf="isLoading" style="margin-top: 30%">
        <div class="loading">
          <h4>Loading</h4>
        </div>
      </div>
    </div>
  </mat-tab>

  <!--Popular Movies Tab-->
  <mat-tab label="Popular Movies">
    <div class="center">
      <h1>Popular Movies</h1>
      <span *ngFor="let movie of popularList?.results">
        <movie-card [movie]="movie"></movie-card>
      </span>
      <div *ngIf="isLoading" style="margin-top: 30%">
        <div class="loading">
          <h4>Loading</h4>
        </div>
      </div>
    </div>
  </mat-tab>

  <!--Upcoming Movies Tab-->
  <mat-tab label="Upcomming Movies">
    <div class="center">
      <h1>Upcomming Movies</h1>
      <span *ngFor="let movie of upcomingList?.results">
        <movie-card [movie]="movie"></movie-card>
      </span>
    </div>
  </mat-tab>

  <!--Top Rated Movies Tab-->
  <mat-tab label="Top Rated Movies">
    <div class="center">
      <h1>Top Rated Movies</h1>
      <span *ngFor="let movie of topRatedList?.results">
        <movie-card [movie]="movie"></movie-card>
      </span>
    </div>
  </mat-tab>

  <!--Search Movies Tab-->
  <mat-tab label="Search Movies">
    <div class="center">
      <mat-card class="search-card">
        <mat-input-container style="width: 70%">
          <input matInput type="search" placeholder="Search for a Movie" [(ngModel)]="searchStr" (keyup.enter)="searchMovies()">
        </mat-input-container>
        <button color="primary" mat-raised-button (click)="searchMovies()">Search</button>
      </mat-card>
      <div *ngIf="searchRes">
        <h1>{{searchStr | capitalize}} Results</h1>
        <span *ngFor="let movie of searchRes?.results;">
        <movie-card [movie]="movie"></movie-card>
      </span>
      </div>
      <div *ngIf="!searchRes">
        <h1>Search Your Favorite Movie</h1>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
