@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* General */

html, body{
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #333333;
}

app-home a {
  color: white;
  text-decoration: none;
}

app-home hr {  border-color: transparent;  }

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.padding-top-60 {
  padding-top: 60px;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.default-margin-bottom {margin-bottom: 0.8rem;}
.default-padding-bottom {padding-bottom: 0.8rem;}

/* Loading */
.loading {
  width: 30px;
  height: 30px;
  border: 5px solid #F44336;
  position: fixed;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  border-radius: 50%;
}

.loading h4 {
  color: white;
  margin-left: 40px;
}

.loading:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  background: #E2E4E6;
  top: 10px;
  left: -5px;
  animation: spin 1.2s infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.center{
  text-align: center;
}

.error {
  margin: 10px auto auto;
}

/* media query */

/*xs*/
@media (min-width: 599px) {
  .container {
    max-width: 540px;
    padding-right: 0;
    padding-left: 0;
  }
}

/*sm*/
@media (min-width: 600px) and (max-width: 959px) {
  .container {
    max-width: 720px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

/*md*/
@media (min-width: 960px) and (max-width: 1279px) {
  .container {
    max-width: 960px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

/*lg*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .container {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
