@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body{
  padding: 0;
  margin: 0;
  width:100%; height:100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #333333;
}

app-home a{
  color: white;
  text-decoration: none;
}

app-home hr {  border-color: transparent;  }

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.padding-top-60 {
  padding-top: 60px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
  }
}


.loading {
  width: 30px;
  height: 30px;
  border: 5px solid #F44336;
  position: fixed;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  border-radius: 50%;
}

.loading h4 {
  color: white;
  margin-left: 40px;
}

.loading:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  background: #E2E4E6;
  top: 10px;
  left: -5px;
  animation: spin 1.2s infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.center{
  text-align: center;
}

.error {
  margin: 10px auto auto;
}

.docs-footer {
  background: #212121;
  color: white;
  margin-top: 40px;
  padding: 12px;
  font-size: 12px;
}

.docs-footer-list {
  padding: 8px;
}
