@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@import "~swiper/scss";
@import "~swiper/scss/pagination";
@include mat.core();

// Customizations go here, for instance:
$app-primary: mat.define-palette(mat.$red-palette);
$app-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat.define-dark-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

.cast-actor-card{ background-color:  #F44336}
::-webkit-scrollbar-thumb {  background-color: #F44336;  }
.moviesHome-header a { color: #F44336; }
.swiper-pagination-bullet {background: #F44336;}
.icon-colored { color: #F44336; }
.activated-route {border-color: #F44336 !important;}

.blue-theme {
  // Dark theme
  $app-primary: mat.define-palette(mat.$blue-palette);
  $app-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
  $app-warn: mat.define-palette(mat.$red-palette);
  $app-dark-theme: mat.define-dark-theme($app-primary, $app-accent, $app-warn);

  @include angular-material-theme($app-dark-theme);

  p strong {  color: #2196f3 !important;  }
  .cast-actor-card{ background-color:  #2196f3}
  .mat-raised-button.mat-primary {  color: white;  }
  ::-webkit-scrollbar-thumb {  background-color: #2196f3;  }
  .moviesHome-header a { color: #2196f3; }
  .swiper-pagination-bullet {background: #2196f3;}
  .icon-colored { color: #2196f3; }
  .activated-route {border-color: #2196f3 !important;}
}

.green-theme {
  // Dark theme
  $app-primary: mat.define-palette(mat.$green-palette);
  $app-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
  $app-warn: mat.define-palette(mat.$red-palette);
  $app-dark-theme: mat.define-dark-theme($app-primary, $app-accent, $app-warn);

  @include angular-material-theme($app-dark-theme);

  p strong {  color: #4caf50 !important;  }
  .cast-actor-card{ background-color:  #4caf50}
  .mat-raised-button.mat-primary {  color: white !important;  }
  ::-webkit-scrollbar-thumb {  background-color: #4caf50;  }
  .moviesHome-header a { color: #4caf50 }
  .swiper-pagination-bullet {background: #4caf50;}
  .icon-colored { color: #4caf50; }
  .activated-route {border-color: #4caf50 !important;}
}

.mat-tab-body.mat-tab-body-active {
  overflow-y: hidden !important;
}

.mat-dialog-container {
  padding: 0!important;
}
